form fieldset {
    border: 0;
    margin: 10px;
}

form fieldset label, input, textarea {
    display: block;
    width: 100%;
    border: 0;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #CC580A;
}

.contact-message, .contact-email, .contact-phone {
    width: 380px;
    padding: 10px;
    border-style: outset;
    border-width: 5px;
    border-color: #CC580A;
    border-radius: 10px;
    background-color: #c2bdba;
}

.submit {
    width: 80px;
    padding: 5px;
    font-weight: bold;
    border: 0;  
}

.submit:hover {
    cursor: pointer;
    background-color: #FF6E0D;
}

#submit-contact {
    margin: 0 auto;
}

/*.contact-email {
    width: 380px;
    margin: 5px;
    padding: 10px;
    border-style: outset;
    border-width: 5px;
    border-color: #CC580A;
    border-radius: 10px;
    background-color: #c2bdba;
}

.contact-phone {
    width: 380px;
    margin: 5px;
    padding: 10px;
    border-style: outset;
    border-width: 5px;
    border-color: #CC580A;
    border-radius: 10px;
    background-color: #c2bdba;
}Vê se é melhor deixar separado ou num só*/