#{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    padding: 50px;
}

header img {
    height: 150px;
    border-radius: 50%;
}

header, footer {
    background-color: #FF6E0D;
    text-align: center;
    color: #000000;
}

section {
    margin: 30px;
    padding: 30px;
    padding-top: 5px;
    color: #000000;
    border-color: #CC580A;
    background-color: rgba(133, 124, 118, 0.5);
}

footer {
    top: 10rem;
    padding: 10px
    height: 110px;
}